[submodule "TestingStrategies-Particle/tests/Catch2"]
	path = TestingStrategies-Particle/tests/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "unitTestExample_EquationOfState/Catch2"]
	path = unitTestExample_EquationOfState/Catch2
	url = https://github.com/catchorg/Catch2.git
